*.exe
BO_src/CPP/BENCH/request.pb.cc
BO_src/CPP/BENCH/request.pb.h
BO_src/CPP/BENCH/response.pb.cc
BO_src/CPP/BENCH/response.pb.h
BO_src/CPP/SMS/request.pb.cc
BO_src/CPP/SMS/request.pb.h
BO_src/CPP/SMS/response.pb.cc
BO_src/CPP/SMS/response.pb.h
BO_src/JAVA/USSD/Worker.class
BO_src/JAVA/USSD/com/
BO_src/JAVA/USSD/request.pb.cc
BO_src/JAVA/USSD/request.pb.h
BO_src/JAVA/USSD/response.pb.cc
BO_src/JAVA/USSD/response.pb.h
plugin/Rest-2.0/libM4UI-Rest-2.0.cc
plugin/Rest-2.0/libM4UI-Rest-2.0.so
plugin/Rest-2.0/request.pb.cc
plugin/Rest-2.0/request.pb.h
